* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$background: #f8f8f8;
$text-black: #29292e;

body {
  background: $background;
  color: $text-black;
}

body, input, button, textarea {
  font: 400 16px 'Roboto', sans-serif;
}